<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>projectpage</title>
  </head>
  <body>
    {{> header}}
    <p>Porjects information will go here. </p>
      {{> footer}}
  </body>
</html>
